.menu {
    background: #333;
    padding: 10px;
    display: flex;
    gap: 20px;
}


.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}


.menu a:hover {
    color: #ffcc00;
}
